@if (repoInfo$ | async; as repoInfo) {
  <h2>
    <img id="github-repo-icon" src="/media/github-mark-white.svg"/>
    <a [href]="repoInfo.html_url" target="_blank">{{ repoInfo.full_name }}</a>
  </h2>
  <p aria-label="Repo description"><em>{{ repoInfo.description }}</em></p>
  <div aria-label="Repo dates">
    <span>Created <time [dateTime]="repoInfo.created_at" [title]="repoInfo.created_at">{{ repoInfo.created_at | date }}</time></span>
    <span>Pushed <time [dateTime]="repoInfo.pushed_at" [title]="repoInfo.pushed_at">{{ repoInfo.pushed_at | date }}</time></span>
  </div>
  <div class="repo-badges">
    @if (repoInfo.license; as license) {<span aria-label="Repo license" class="badge">{{ license.name }}</span>}
    @if (repoInfo.language) {<span aria-label="Repo language" class="badge">{{ repoInfo.language }}</span>}
    @if (repoInfo.archived) {<span aria-label="Repo is archived" class="badge">Archived</span>}
    @if (repoInfo.disabled) {<span aria-label="Repo is disabled" class="badge">Disabled</span>}
    @if (repoInfo.stars) {<span aria-label="Repo stars" class="badge">{{repoInfo.stars}}</span>}
    @if (repoInfo.forks) {<span aria-label="Repo forks" class="badge">{{repoInfo.forks}}</span>}
    @if (repoInfo.watchers) {<span aria-label="Repo watchers" class="badge">{{repoInfo.watchers}}</span>}
  </div>
  @if (repoInfo.topics) {
    <div class="repo-topics">
      @for (topic of repoInfo.topics; track topic) {
        <span class="badge repo-topic">{{ topic }}</span>
      }
    </div>
  }
}
