@use 'link';
@use 'horizontal-hidden-scroll';

:host {

  display: block;
  margin: 0.5em;
  padding: 0.5em;
  overflow: hidden;

  @include link.link();

  #github-repo-icon {
    aspect-ratio: 1;
    height: 1lh;
    vertical-align: middle;
  }

  border-radius: 1em;
  &, .badge {
    border: 1px solid;
  }

  h1, h2 {
    all: unset;
    display: block;
  }
  h1 {
    font-weight: bold;
    font-size: var(--font-size-title);
    padding-block-end: 0.5em;
  }
  h2 {
    @include horizontal-hidden-scroll.horizontal-hidden-scroll();
  }

  [aria-label="Repo dates"] {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
  }

  .repo-badges, .repo-topics {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 1em;
  }

  .badge {
    margin: 0.1em;
    display: inline-block;

    border-radius: 0.32em;

    & > grush-icon {
      font-size: 1lh;
      vertical-align: middle;
      margin-inline-end: 0.3em;
      padding-inline: 0.2em;
    }
  }
}
