
@mixin link() {

  a {

    &, &:visited {
      color: var(--accent-color);;
    }
    &:hover {
      color: deepskyblue;
    }
    &:active {
      color: var(--txt-color);
    }

    &[routerlinkactive] {
      &.active-link {
        text-decoration: dotted underline;
        color: var(--txt-color);
        cursor: default;
      }
    }


  }

}
