
@use './link';

@mixin nav() {

  :host(nav) {
    overflow-x: auto;
    scrollbar-width: none;

    // nav>ul horizontal pattern
    ul {
      all: unset;
      list-style: none;
      display: flex;
      flex-direction: row;

      margin-inline: 1em;

      & > li {
        white-space: nowrap;

        &:not(:last-child) {

          &::after {
            border-inline-start: 1px solid var(--txt-color);
            margin-inline: 0.5em;
            content: "";
          }
        }
      }
    }

    @include link.link();
  }
}
