<details (toggle)="citationsOpened.set(true)">
  <summary>Citations</summary>
  @defer (when citationsOpened()) {
    <div>
      <div>Bluesky logo from <cite><a target="_blank" href="https://bsky.social/about/blog/press-faq">press FAQ</a></cite></div>
      <div>Mail icon from <cite><a target="_blank" href="https://publicicons.org/">Public Icons</a></cite></div>
      <div>GitHub Invertocat from <cite><a target="_blank" href="https://github.com/logos">GitHub logos</a></cite></div>
    </div>
  }
</details>
