@use 'nav';

@include nav.nav();

:host(grush-contact-bar) {

  .icon {
    aspect-ratio: 1 / 1;
    vertical-align: middle;
  }

  [role=button] {
    cursor: pointer;
    vertical-align: middle;
  }
}
