<ul>
  <li>
    <a id="bsky-link" title="bsky @sayumn.grush.org" href="https://bsky.app/profile/sayumn.grush.org">
      <img class="icon" src="/media/bluesky_media_kit_logo_svgs.svg"/>
    </a>
  </li>
  <li>
    <i role="button" tabindex="0" (click)="toggleEmail()">
      <img class="icon" src="/media/email-icon.svg"/>
    </i>
    @defer (when emailVisible()) {
        <grush-email-address [class.visible]="emailVisible()" />
    }
  </li>
  <li>
    <a id="github-link" title="GitHub skgrush" href="https://github.com/skgrush">
      <img class="icon" src="/media/github-mark-white.svg"/>
    </a>
  </li>
</ul>
