
:host {

  & > ul {
    all: unset;
    display: grid;
    grid-template-columns: min-content 3px min-content 3px min-content;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 0.4em;

    & > li {
      all: unset;
      white-space: pre;

      &:has( > li ) {
        height: 100%;
      }

      & > hr {
        all: unset;
        display: block;
        margin-inline: 0;
        margin-block: auto;
        border-inline-end: solid 1px;
        height: 100%;
        width: 0;
      }
    }
  }

  .icon {
    aspect-ratio: 1 / 1;
    vertical-align: middle;
  }

  [role=button] {
    cursor: pointer;
    vertical-align: middle;
  }
}
