:host(grush-about) {


  #php-logo {
    aspect-ratio: 711.20123 / 383.5975;
    float: left;
    width: 100px;
    shape-outside: ellipse(50% at 50% 50%);
  }

  #html5-logo {
    aspect-ratio: 1 / 1;
    float: right;
    width: 100px;
    shape-outside: polygon(6% 0, 94% 0, 85% 100%, 100% 100%, 50% 100%, 14% 85%)
  }

  img.lang-logo {

  }
}
