
<p>Hai I'm Sam. This is my website. I do code stuff.</p>

<p>
  I've been codin' poorly since vaguely 2010
  and codin' good since at least 2016.
</p>

<p>
  I started out with <mark>PHP</mark>, which I've come to hate
  (not as bad with a good framework)
  but taught me a lot about dynamic languages and
  also hacking up those languages in ways they
  were never intended to be.
  Next I inevitably fell into <mark>JavaScript/HTML/CSS</mark>
  which I found to be very powerful but inherently hacky
  — a great connection to PHP.
</p>
<p>
  I spent the next 5 years thinking <mark>Python</mark> was the best
  thing since array slicing. Still I continued writing <mark>vanilla JS and PHP</mark>.
</p>
<p>
  In 2017 I was finally exposed in a student job to <mark>React and TypeScript</mark> which
  changed web development for me and I've been in love with <mark>TypeScript</mark>
  ever since — React not so much. Most all of my personal projects from here
  on are written in TypeScript, though I've rarely worked on any applications
  that were not web apps.
</p>
<p>
  In 2019 I started working full-time on a <mark>.NET Core</mark> job and found the platform to
  be extremely satisfying to use — many of the benefits of Java but feels better-paced at
  staying modern with new language features, functionality, compilation, etc.
  This led to <mark>Angular</mark>, which I also find especially satisfying for many of the same reasons.
</p>
