$nav-row-height: 1.5lh;

:host(grush-root) {
  display: grid;
  //background: var(--bg-color);
  min-height: 100dvh;

  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;

  & > header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $nav-row-height 0 $nav-row-height min-content;
    overflow: hidden;

    & > nav[grush-contact-bar] {
      grid-row: 4;
    }
  }
}

