<img class="favicon" src="https://raw.githubusercontent.com/skgrush/CavernSeer/refs/heads/main/docs/icons/iconflat.svg" height="100" width="100" />

<h1>CavernSeer Mapper</h1>

<p><a href="https://cavernseer.grush.org/mapper" target="_blank">https://cavernseer.grush.org/mapper</a></p>

<p>
  3D modeling web app supplement to <a routerLink="/App/CavernSeer">CavernSeer</a>,
  but also usable in isolation for rendering/combining/saving models.
</p>

<p>
  In addition to positioning of models, CavernSeer Mapper supports annotations
  like distance measures, ceiling height measures, and volumetric cross sections.
  These annotations can be zipped up with the original models in a non-proprietary zip file
  without changing the constituent models.
</p>

<p>
  CavernSeer Mapper supports progressive web app functionality for use offline
  as well as desktop file opening for a variety of 3D model file types.
  On a technical level, Mapper heavily leans on existing frameworks, almost
  exclusively using Angular Material for UI elements and Three.js for model
  rendering.
</p>

<grush-repository repoName="cavern-seer-mapper" />
