
<img class="favicon" src="https://raw.githubusercontent.com/skgrush/CavernSeer/refs/heads/main/docs/icons/iconflat.svg" height="100" width="100" />

<h1>CavernSeer</h1>

<p>
  <a href="https://apps.apple.com/us/app/cavernseer/id1562503316" target="_blank">View on App Store</a>
  for iOS or iPadOS.
</p>

<p>
  CavernSeer is an app I wrote to learn Swift and SwiftUI while
  improving our ability to survey caves.
  Using the LiDAR sensor on Pro iPhones and iPads after 2020
  and RealityKit's incredibly easy-to-use abstractions, we can
  capture true-to-scale 3D meshes while crawling through tight
  spaces with similar accuracy to at-least-amateur cave surveyors.
  Combined with traditional cave surveying techniques, you can
  dramatically improve the detail of your cave maps.
</p>
<p>
  CavernSeer inspired a follow-on product,
  <a routerLink="../CavernSeerMapper">CavernSeer Mapper</a>,
  which can combine and annotate CavernSeer scan files in the web.
</p>

<grush-repository repoName="CavernSeer" />

