/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  overflow-y: auto;
  height: 100dvh;
}

:root {
  --bg-color: #121212;
  --txt-color: #fff;

  --font-family: "Courier New", monospace;
  --font-size-ui: 16px;
  --font-size-text: 12px;

  color-scheme: dark;
  accent-color: #498c36;

  color: var(--txt-color);
  background: var(--bg-color);
}

:root {
  font: var(--font-size-text) var(--font-family);

  *, *:before, *:after {
    box-sizing: border-box;
  }
}
