/* You can add global styles to this file, and also import other style files */

@use 'horizontal-hidden-scroll';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  overflow-y: auto;
  height: 100dvh;
}

:root {
  --bg-color: #121212;
  --txt-color: #fff;
  --accent-color: #498c36;

  --font-family: "Courier New", monospace;
  --font-size-ui: 16px;
  --font-size-text: 14px;
  --font-size-title: 1.5 * 14px;
  --small-gap: 0.5em;
  --medium-gap: 1em;

  color-scheme: dark;
  accent-color: var(--accent-color);

  color: var(--txt-color);
  background: var(--bg-color);

  font: var(--font-size-text) var(--font-family);

  *, *:before, *:after {
    box-sizing: border-box;
  }
}

a:not(.opt-out-style) {

  &, &:visited {
    color: var(--accent-color);
  }
  &:hover {
    color: deepskyblue;
  }
  &:active {
    color: var(--txt-color);
  }

  &[routerlinkactive] {
    &.active-link {
      text-decoration: dotted underline;
      color: var(--txt-color);
      cursor: default;
    }
  }
}

.common-page-layout {
  display: block;

  max-width: 50rem;
  margin-inline: auto;

  h1 {
    @include horizontal-hidden-scroll.horizontal-hidden-scroll();
  }

  img.favicon {
    float: left;
    margin: 1em;
  }
}

nav:not(.opt-out-style) {
  @include horizontal-hidden-scroll.horizontal-hidden-scroll();

  // nav>ul horizontal pattern
  & > ul {
    all: unset;
    list-style: none;
    display: flex;
    flex-direction: row;

    margin-inline: var(--medium-gap);

    & > li {
      white-space: nowrap;

      &:not(:last-child) {

        &::after {
          border-inline-start: 1px solid var(--txt-color);
          margin-inline: var(--small-gap);
          content: "";
        }
      }
    }
  }
}
