/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

:root {
  --bg-color: #121212;
  --txt-color: #fff;

  color-scheme: dark;
  accent-color: #498c36;

  color: var(--txt-color);
  background: var(--bg-color);
}

grush-root {
  display: block;
  height: 100%;
  //background: var(--bg-color);
}
