<img class="favicon" src="https://wtiii.grush.dev/assets/icons/icon.svg" height="100" width="100" />

<h1>What time is it in ...?</h1>

<p><a href="https://wtiii.grush.dev" target="_blank">https://wtiii.grush.dev</a></p>

<p>
  A little timezone comparison app that supports sharing timezone and timespan configurations.
</p>

<p>
  Written in Angular, this project was intended to try out the experimental ng zoneless
  with the use of more signals.
  All theme values are global CSS variables, and I focused on accessibility and cross-device
  usability.
</p>

<grush-repository repoName="what-time-is-it-in" />
